<div class="">


    <h3 class="">All Categories </h3>


    <div class="">
        <div class="">
            <table class="">
                <thead class="">
                <tr>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="">
                {{#each categories}}
                    <tr>

                        <td>{{title}}</td>
                        <td class="">
                            <a href="/admin/category/edit/{{_id}}" class="" role="button">Edit</a>
                            <form action="/admin/category/{{_id}}?newMethod=DELETE" method="post">
                                <button class="" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody>

            </table>
        </div>
    </div>

    <hr>

    <div class="row p-4">
        <div class="col-md-8">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="category-title" name="title" value="{{category.title}}">
                <input type="hidden" class="form-control" id="category-id" name="id" value="{{category._id}}">
            </div>
            <button class="btn btn-outline-warning btn-lg" id="update-category-button">Update Category</button>
        </div>
    </div>


</div>