<div class="">
    <div class="">
        <h1>Edit Post</h1>
        <button onclick="window.history.back()">Back</button>
    </div>
    

    <div class="">
        <div class="">
            <form action="/admin/posts/edit/{{post._id}}?newMethod=PUT" method="post">

                <div class="">
                    <label for="title">Title</label>
                    <input type="text" class="" name="title" placeholder="Enter The Title" value={{post.title}}>
                </div>

                <div class="">
                    <label for="status">Status</label>
                    <select name="status" class="">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                        <option value="draft">Draft</option>
                    </select>
                </div>

                <div class="">
                    <label for="urlPathConfig">URL Path</label>
                    <input type="text" class="" name="urlPathConfig" placeholder="your-blog-post-path" value={{post.urlPathConfig}}>
                </div>

                <div class="">
                    <label for="category">Category</label>
                    <select name="category" class="">
                        {{#select post.category}}
                            {{#each categories}}
                                <option value="{{_id}}">{{title}}</option>    
                            {{/each}}                            
                        {{/select}}
                    </select>
                </div>



                <div class="">
                    <label for="allowComments">
                        <input type="checkbox" class="" name="allowComments" value="true">
                        Allow Comments
                    </label>
                </div>

                <div class="">
                    <label for="description">Content</label>
                    <textarea name="description" class="" placeholder="Enter your content here" rows="10">{{post.description}}</textarea>
                </div>


                <button class="" type="submit">Update Post</button>


            </form>
        </div>
    </div>



</div>