<div class="">
    <div class="">
        <h1>ALL POSTS</h1>    
    </div>
        
    <table class="">
        <thead class="">
        <tr class="">          
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>URL Path</th>
            <th>Comments Allowed</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="">
        {{#each posts}}
            <tr>               
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{status}}</td>
                <td>{{urlPathConfig}}</td>
                <td>{{allowComments}}</td>
                <td>{{category.title}}</td>
                <td class="">
                    <a href="/admin/posts/edit/{{_id}}" class="">Edit Post</a>

                    <form action="/admin/posts/delete/{{_id}}?newMethod=DELETE" method="post">
                        <button class="" type="submit">Delete Post</button>
                    </form>
                    
                    
                </td>
            </tr>    
        {{/each}}
        
        </tbody>
    </table>
    
    
</div>
